the webpage https://www.shine.com/

 scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data

In [35]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.2.1)
Requirement already satisfied: trio~=0.17 in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (from selenium) (4.12.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.17->selenium) (3.7)
Requirement already satisfied: outcome in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.22)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\44787\appdata\local\programs\python\python312\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [36]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [144]:
driver=webdriver.Chrome()

In [160]:
# opening shine page on automated chrome browser
driver.get("https://www.shine.com/")

In [161]:
# entering designation and location as required in the question.
designation=driver.find_element(By.CLASS_NAME,"input")
designation.send_keys('Data Analyst')

In [162]:
search=driver.find_element(By.XPATH,"/html/body/div/header/div[3]/div/div/div[1]/div/span")
search.click()

In [163]:
designation=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Analyst')

In [164]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [165]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [166]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [190]:
#scraping job title from the page
title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]/h2/a')
for i in title_tags:
    title=i.text
    job_title.append(title)

#scraping job location from the page
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
#scraping company's name from the page
company_tags=driver.find_elements(By.XPATH,'//div[@ class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags:
    company=i.text
    company_name.append(company)
    
#scraping experienced required from the page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [192]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

170 180 180 180

In [223]:
job_titles=[]
job_locations=[]
company_names=[]
experience_req=[]
title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]/h2/a')
for i in title_tags[0:10]:
    title=i.text
    job_titles.append(title)
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_locations.append(location)
#scraping company's name from the page
company_tags=driver.find_elements(By.XPATH,'//div[@ class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags[0:10]:
    company=i.text
    company_names.append(company)
    
#scraping experienced required from the page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_req.append(experience)

In [212]:
print(len(job_titles),len(job_locations),len(company_names),len(experience_req))

10 10 10 10

In [224]:
import pandas as pd
df=pd.DataFrame({'Titles':job_titles,'Location':job_locations,'Company_name':company_names,'Experience':experience_req})
df

,Titles,Location,Company_name,Experience
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Lead Data Analyst,Bangalore\n+8,mackenzie modern it solutions priva...,5 to 9 Yrs
2,Data Analyst,Bangalore\n+18,neo impex stainless private limited,9 to 14 Yrs
3,Lead Data Analyst,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 9 Yrs
4,Data Analyst,Bangalore,valenta bpo solutions pvt. ltd.,4 to 5 Yrs
5,Data Analyst (Need Immediate Joiner),Bangalore\n+9,r.s textile,0 to 4 Yrs
6,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,talent leads hr solutions pvt ltd,3 to 8 Yrs
7,Data Analyst (Need Immediate Joiner),Bangalore\n+9,r.s textile,0 to 4 Yrs
8,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
9,Data Analyst Fresher and Experience Vacancy,Bangalore\n+12,radhika enterprises,0 to 4 Yrs